.listLocation {
    display: grid;
    margin: 20px;
    grid-gap: 20px;
}

.cardName {
    font-weight: bold;
}

.cardImage {
    height: 180px;
}

.checkOutButton {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.rentalHeader {
    position: -webkit-sticky !important;
    position: sticky !important;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1030;
}

@media screen and (min-width: 1210px) {
    .listLocation {
        grid-template-columns: 1fr 1fr;
        margin: 20px;
    }

    .infoHolder {
        display: flex;
    }
    .checkOutHeader {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 600px) {
    .rentalHeader {
        display: flex;
    }
    .infoHolder {
        display: flex;
    }
    .cardImage {
        width: 300px;
    }
}
